In [4]:
#Importing Packages
import csv
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn import svm
from sklearn.ensemble import RandomForestRegressor

In [5]:
#Reading Data set File
data=pd.read_csv("C:/Users/gadir/Desktop/Donations.csv")

In [6]:
#Viewing the dataset file
data

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Donations
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,107790.0
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,104628.0
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,114324.0
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,76932.0
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,111474.0
...,...,...,...,...,...,...
24770,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,F,Salary,90024.0
24771,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,48078.0
24772,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,87006.0
24773,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,93354.0
24774,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,115932.0

In [7]:
#Performing One-hot encoding to convert categorical variables to Numerical Variables
data1=pd.concat([data,pd.get_dummies(data['Job Titles'], prefix='JobTitles'),pd.get_dummies(data['Department'], prefix='Department')],axis=1)

In [8]:
#Viewing the dataset after One-hot encoding is performed
data1

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Donations,JobTitles_1ST DEPUTY INSPECTOR GENERAL,JobTitles_A/SUPRV REDISTRICTING,JobTitles_ACCIDENT ADJUSTER,JobTitles_ACCOUNTANT I,...,Department_MAYOR'S OFFICE,Department_OEMC,Department_POLICE,Department_POLICE BOARD,Department_PROCUREMENT,Department_PUBLIC LIBRARY,Department_STREETS & SAN,Department_TRANSPORTN,Department_TREASURER,Department_WATER MGMNT
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,107790.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,104628.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,114324.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,76932.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,111474.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24770,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,F,Salary,90024.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
24771,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,48078.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
24772,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,87006.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
24773,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,93354.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
24774,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,115932.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
#Replacing String characters with integers
data1['Salary or Hourly'] = data1['Salary or Hourly'].replace('Salary','1') 
data1['Salary or Hourly'] = data1['Salary or Hourly'].replace('Hourly','1')

In [10]:
#Replacing String characters with integers
data1['Full or Part-Time'] = data1['Full or Part-Time'].replace('F','1') 
data1['Full or Part-Time'] = data1['Full or Part-Time'].replace('P','0')

In [11]:
#Converting data types of object columns to integer type
data1['Salary or Hourly'] = data1['Salary or Hourly'].astype(int)
data1['Full or Part-Time'] = data1['Full or Part-Time'].astype(int)
data1['Donations'] = data1['Donations'].astype(int)

In [12]:
#Making Donations Column as Target Variable 
y=data1['Donations']
#Removing Unwanted columns
X=data1.drop(['Job Titles', 'Department','Donations','Name'], axis=1)

In [13]:
#Splitting the entire data set into train data and test data in 70:30 ratio
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [14]:
#Performing XGBOOST Model and Evaluating the performance with respect to Root Mean Squared Error
xg_reg = xgb.XGBRegressor()
xg_reg.fit(X_train, y_train)
preds = xg_reg.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 11745.623044

In [15]:
#Performing SVM Model and Evaluating the performance with respect to Root Mean Squared Error
svm_reg = svm.SVR()
svm_reg.fit(X_train, y_train)
predssvm = svm_reg.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, predssvm))
print("RMSE: %f" % (rmse))

RMSE: 20880.172145

In [16]:
#Performing Random Forest  Model and Evaluating the performance with respect to Root Mean Squared Error
regr = RandomForestRegressor()
regrr=regr.fit(X_train, y_train)
predsrr = regrr.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, predsrr))
print("RMSE: %f" % (rmse))

RMSE: 10787.393890